[user]
    name = Shaiful Aiman Malik
    email = ibnumalikmy@gmail.com

[core]
    # Tell Git to convert CRLF to LF on commit but not the other way around by setting core.autocrlf to input.
    autocrlf = input
    # Check if converting CRLF is reversible when end-of-line conversion is active. Set to `warn` to output warrning about an irreversible conversion but continue the operation.
    safecrlf = warn
    editor = vim
    # --quite or --silent so that the bell is not ringing when attempting to scroll past the end of the file.
    pager = less -q

[credential]
    helper = cache --timeout=3600

# https://git-scm.com/docs/git-config#Documentation/git-config.txt-color
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

# https://git-scm.com/docs/git-config#Documentation/git-config.txt-colorstatusltslotgt
[color "status"]
    changed = yellow bold
    added = green bold

# https://git-scm.com/docs/git-config#Documentation/git-config.txt-colorbranchltslotgt
[color "branch"]
    current = green bold
    local = yellow bold
    remote = cyan bold

[help]
    autocorrect = 0

[init]
    defaultBranch = master
    #templatedir = '~/.git-templates'

[commit]
    template = ~/scripts/.git-commit-template

[mailmap]
    file = ~/scripts/.mailmap
    changed = yellow

[alias]
    alias = config --get-regexp ^alias\\.
    s = status
    ss = status --short
    ##############
    ck = checkout
    new = checkout -b
    f = fetch -p
    pl = pull --rebase
    ##############
    stats = shortlog --all -sn --no-merges
    ##############
    glog = log --all --oneline --graph --decorate
    glogthis = log --oneline --graph --decorate
    l1 = log --oneline
    l1nm = log --oneline --no-merges
    history = log --no-merges --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset %Cgreen(%<(10,trunc)%cr) %C(bold blue)<%aN>%Creset - %s'
    logall = log --all --no-merges --pretty=format:'%Cred%h%Creset - %s'
    logthis = log --no-merges --pretty=format:'%Cred%h%Creset - %s'
    lg = log --no-merges --pretty=format:'%C(auto)%h - %Cgreen(%<(10,trunc)%cr)%Creset %C(bold blue)[%<(7,trunc)%aN]%Creset %s'
    logdetail = log --abbrev-commit --pretty=format:'%C(auto)%h - %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
    logsimple = log --no-merges --pretty=format:'%C(auto)%h - %s'
    # Log my commit
    recap = log --all --author="ibnumalikmy@gmail.com" --no-merges --pretty=format:'%Cred%h%Creset - %s'
    today = log --all --author="ibnumalikmy@gmail.com" --no-merges --oneline --since=00:00:00
    this-week = log --all --author="ibnumalikmy@gmail.com" --no-merges --oneline --since=last-monday --until=\"now\"
    report = log --all --author="ibnumalikmy@gmail.com" --no-merges --pretty=format:'%h %x09 %cd %x09 %s' --date=short
    mylog = log --author="ibnumalikmy@gmail.com" --no-merges --pretty=format:'%C(auto)%h - %Cgreen(%<(10,trunc)%cr)%Creset %s'

[merge]
    conflictstyle = diff3

[pull]
    # By default, Git does not create an extra merge commit when merging a commit that is a descendant of the current commit.
    # Instead, the tip of the current branch is fast-forwarded. When set to only, only such fast-forward merges are allowed
    ff = only
    rebase = false
